.ham{
 font-size: 0;
 display: none;
 width: 24px;
 height: 20px;
 border-top: 2px solid #dd5512;
 border-bottom: 2px solid #dd5512;
 box-sizing: border-box;
 align-items: center;
 align-self: center;
 transition: 1s;
}
.ham::before{
 content:"";
 display: block;
 width: 100%;
 border-top: 2px solid;
}
