footer{
padding: 100px;
background-color: #fff;
color: #b04c1ae3;
}
footer img{    
  display: none;
}
footer .f1{
width: 1440px;
margin:0 auto;
}
footer .ftlist ul{  
transform: translateY(29px);
}
footer .f1 .ftlist ul li a{
font-size: 14px;
font-weight: 700;
margin-right: 20px;
color: #414141;
}
footer ul{    
display: flex;
width: fit-content;
}
footer .f2{
display: flex;
justify-content: space-between;
max-width: 1440px;
margin: 0 auto;
margin-bottom: 50px;
}
footer .f2 .info .addr{
font-style: normal;
margin-top: 50px;
}
footer .f2 .info .addr span{  
font-size: 12px;
line-height: 2;
}
footer .f2 .info .addr span.bf{  
font-weight: 600;
}
footer .f2 .info .addr span.af{

}
.f2 .cs{
margin-left: auto;
}
.f2 .pay{  
margin-left: 90px;
}
.cs span{
font-size: 12px;
line-height: 3;
}
.cs span.bf{
font-weight: 600;
}
.cs span.af{

}
.pay span{
font-size: 12px;
line-height: 2;
}
.pay span.bf{
font-weight: 600;
}
.pay span.af{

}
footer p{

}
footer .ft{
display: flex;
padding-top: 50px;
/*! border-top: 1px solid #ccc; */
justify-content: center;
max-width: 1440px;
margin: 0 auto;
}
footer .sns{
display: flex;
}
footer .sns h4{
margin: 0;
transform: translateX(-28px) translateY(-8px);
}
footer .f3 p{  
color: #a8a8a8;
font-size: 12px;
}
footer .sns ul{

}
footer .sns ul li{

}
footer .sns ul li a{  
margin: 0px 10px;
  font-size:0;
}
footer .sns ul li:nth-child(1) a{  
background-image: url(../img/instagram.svg);
width: 30px;
height: 30px;
background-size: contain;    
display: block;
background-repeat: no-repeat
}
footer .sns ul li:nth-child(2) a{  
background-image: url(../img/blog.svg);
width: 30px;
height: 30px;
background-size: contain;    
display: block;
background-repeat: no-repeat
}
footer .sns ul li:nth-child(3) a{  
background-image: url(../img/facebook.svg);
width: 30px;
height: 30px;
background-size: contain;    
display: block;
background-repeat: no-repeat
}
footer .sns ul li:nth-child(4) a{  
background-image: url(../img/youtube.svg);
width: 30px;
height: 30px;
background-size: contain;    
display: block;
background-repeat: no-repeat
}
footer .sns ul li:nth-child(5) a{  
background-image: url(../img/app.svg);
width: 30px;
height: 30px; 
background-size: contain;    
display: block;
background-repeat: no-repeat
}
footer h4{  
  line-height: 3;
}