#title{
  margin: 0 auto;
  justify-content: center;
  display: flex;
  height: 100vh;
  align-items: center;
}
#title img{
  width: 480px;
  height: 680px;
}
#title h1{  
  position: absolute;
  font-size: 100px;
  font-family: serif;
  font-weight: bold;
  color: #df5700;
  text-align: center;
  line-height: 3.5;
  opacity: 0.5;
  display: none;
}
#title span{
  font-weight: bold;
  font-size: 22px;
  color: #363636c4;
  transform: translateX(47px) translateY(289px);
  display: none;
}

/* 애니메이션 */

.typing-container {
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  display: flex;
  align-items: center;
  position: absolute;
}

.cursor {
  display: inline-block;
  margin-left: 5px;
  font-weight: bold;
  animation: blink 0.5s steps(2, start) infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}